<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ml-3" href="/">Cuida el Agua App</a>
    </div>
</nav>
<!-- ENDNAVBAR -->
<div class="container mt-3">
  <div class="container px-5 pb-5">
    <div class="row">
      <div class="col-md-4">
        <h1 style="color: rgb(43, 39, 17);">Almacenamiento</h1>
        <div class="card p-2 mb-5">
            <div id='myDiv'></div>
        </div>
    </div>
      <div class="col-md-5">
          <!-- CARD -->
          <div class="card">
              <div class="card-body">
                <h1 style="color: rgb(43, 39, 17);">Calculadora de Consumo</h1>
                <form action="/add_bookmark" method="POST">
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" name="link" placeholder="Link">
                      </div>
                      <div class="input-group mb-3">
                          <input type="text" class="form-control" name="name" placeholder="Name">
                      </div>
                      <div class="input-group mb-3">
                          <button type="submit" class="btn btn-outline-secondary">
                              Save
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>

<script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
<script>
  const dataFinal = fetch('js/test.json')
    .then((response) => console.log(response)) 
  var data = [
	{
	  type: "indicator",
	  mode: "gauge+number+delta",
	  value: 420,
	  title: { text: "Almacenamiento", font: { size: 24 } ,margin: 2 },
	  delta: { reference: 400, increasing: { color: "RebeccaPurple" } },
	  gauge: {
		axis: { range: [null, 500], tickwidth: 1, tickcolor: "darkblue" },
		bar: { color: "cyan" },
		bgcolor: "white",
		borderwidth: 2,
		bordercolor: "white",
	  }
	}
  ];
  
  var layout = {
	width: 300,
	height: 200,
	margin: { t: 25, r: 25, l: 25, b: 25 },
	paper_bgcolor: "lavender",
	font: { color: "darkblue", family: "Arial" }
  };
  
  Plotly.newPlot('myDiv', data, layout);
</script>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>