<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand ml-3" href="/">Cuida el Agua App</a>
    </div>
</nav>
<!-- ENDNAVBAR -->
<div class="container mt-3">
  <div class="container px-5 pb-5">
    <div class="row">
      <div class="col-md-4">
        <h3 style="color: rgb(43, 39, 17);">Almacenamiento</h3>
        <div class="card p-2 mb-5">
            <div id='myDiv'></div>
        </div>
    </div>
      <div class="col-md-7">
          <!-- CARD -->
          <div class="card">
              <div class="card-body">
                <h3 style="color: rgb(43, 39, 17);">Calculadora de Consumo de Agua en Lavadoras</h3>
                      <div class="input-group mb-3">
                          <input type="number" id="cantidad_agua" class="form-control" name="Cargas por semana" placeholder="Cantidad de lavados por semana">
                      </div>
                      <div class="input-group mb-3">
                          <p>Establecido con Ahorro de agua</p>
                      </div>
                      <div id="message"></div>
                      <div class="input-group mb-3">
                          <button id="myButton" class="btn btn-outline-secondary">
                              Calcular
                          </button>
                      </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script>
   document.getElementById("myButton").addEventListener("click", function() {
    var myVariable =  document.getElementById("cantidad_agua").value; 
    console.log(myVariable);
    var messageDiv = document.getElementById("message");
    messageDiv.style.display = "block";
    messageDiv.textContent = 'EL pago del agua es ...'+ (parseInt(myVariable)*2).toString()+ ' bs';
    }); 
</script>
<script src='https://cdn.plot.ly/plotly-2.27.0.min.js'></script>
<script>
  let dataObject;
  const almacenamiento =  fetch('http://localhost:8000/data').then((response) => response.json())
    .then((json) => {console.log(json); dataObject = json; return json});
  const nivel = almacenamiento['data']
  let dataObject1 = 0
  function random(min, max) {
    dataObject1 = Math.floor((Math.random() * (max - min + 1)) + min);
    console.log(dataObject1);
  }
  
  setInterval(random(200,220), 10000);
  var data = [
	{
	  type: "indicator",
	  mode: "gauge+number+delta",
	  value: dataObject1,
	  title: { text: "", font: { size: 24 }},
	  delta: { reference: 220, increasing: { color: "RebeccaPurple" } },
	  gauge: {
		axis: { range: [null, 500], tickwidth: 1, tickcolor: "darkblue" },
		bar: { color: "cyan" },
		bgcolor: "white",
		borderwidth: 2,
		bordercolor: "white",
	  }
	}
  ];
  
  var layout = {
	width: 300,
	height: 200,
	margin: { t: 25, r: 25, l: 25, b: 25 },
	paper_bgcolor: "lavender",
	font: { color: "darkblue", family: "Arial" }
  };
  
  Plotly.newPlot('myDiv', data, layout);
</script>
<script>
  setInterval(console.log('HI'), 5000);
</script>
<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>